events {}

http {
	resolver 127.0.0.11 valid=10s;
	include /etc/angie/prometheus_all.conf;

    map $http_x_forwarded_proto $fastcgi_https {
        default off;
        https on;
    }

    map $http_x_forwarded_proto $https_from_alb {
        "https"  "on";
        default  "";
    }

	server {
		listen 80 default_server;
        listen [::]:80 default_server;
		server_name {{ wordpress_cert_domain | default('localhost') }} localhost 127.0.0.1;

        root {{ wordpress_angie_wp_root | default('/var/www/html') }};
        index index.html index.htm index.php;

        status_zone main_server;

        error_page 500 502 503 504 /50x.html;
        location = /50x.html {
            root /usr/share/angie/html;
        }

		location /phpmyadmin/ {
			status_zone phpmyadmin;
			proxy_pass http://phpmyadmin:80/;
			proxy_set_header Host $host;
			proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $http_x_forwarded_proto;
		}

		location /status/ {
			api /status/;
		}
		location /metrics/ {
			prometheus all;
		}

        # --- WORDPRESS ---
        location = /admin {
            return 301 /admin/;
        }

        location /admin/ {
            return 301 /wp-admin/;
        }

        location / {
            add_header X-Debug-Proto $http_x_forwarded_proto always;
            add_header X-Debug-Scheme $scheme always;
            status_zone wordpress_http;
            try_files $uri $uri/ /index.php?$args;
            add_header X-Debug-Loc "wp_catchall" always;
        }

        location ~ \.php$ {
            try_files $uri =404;
            include fastcgi_params;
            fastcgi_index index.php;
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
            fastcgi_param PATH_INFO $fastcgi_path_info;
            fastcgi_pass wordpress:9000;

            # If original client used https
            fastcgi_param HTTPS $fastcgi_https;
            fastcgi_param HTTP_X_FORWARDED_PROTO $http_x_forwarded_proto;
            fastcgi_param  HTTPS  $https_from_alb;
            fastcgi_param SERVER_PORT 443;
            fastcgi_param REQUEST_URI $request_uri;
        }

        location = /favicon.ico {
            log_not_found off;
            access_log off;
            expires 7d;
        }

        location ~ /\.ht {
            deny all;
        }
	}

}
