events {}

http {
	include /etc/angie/prometheus_all.conf;
	server {
		listen 80;
		status_zone main_server;

        error_page 500 502 503 504 /50x.html;
        location = /50x.html {
            root /usr/share/angie/html;
        }

		location / {
			status_zone wordpress;
			proxy_pass http://wordpress:80;
			proxy_set_header Host $host;
			proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
		}

		location /phpmyadmin/ {
			status_zone phpmyadmin;
			proxy_pass http://phpmyadmin:80/;
			proxy_set_header Host $host;
			proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		}

		location /status/ {
			api /status/;
		}
		location /metrics/ {
			prometheus all;
		}
	}

    server {
        listen                      443 ssl default_server;
        listen                      [::]:443 ssl default_server;
        # http2                       on;
        server_name                 {{ wordpress_cert_domain | default('localhost') }} localhost 127.0.0.1;

        ssl_certificate             /etc/angie/certs/{{ wordpress_cert_domain | default('localhost') }}.crt;
        ssl_certificate_key         /etc/angie/certs/{{ wordpress_cert_domain | default('localhost') }}.key;
        ssl_protocols               TLSv1.2 TLSv1.3;
        ssl_prefer_server_ciphers   on;

        index                       index.html index.htm index.php;
        error_page                  500 502 503 504 /50x.html;

        location = /50x.html {
            root /usr/share/angie/html;
        }
    
        location /phpmyadmin/ {
            status_zone             phpmyadmin_https;
            proxy_pass              http://phpmyadmin:80/;
            proxy_set_header        Host $host;
            proxy_set_header        X-Real-IP $remote_addr;
            proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header        X-Forwarded-Proto https;
        }

        location = /admin {
            return 301 /admin/;
        }

        location /admin/ {
            return 301 /wp-admin/;
        }

        location / {
            status_zone             wordpress_https;
            proxy_pass              http://wordpress:80;
            proxy_read_timeout      300;

            proxy_set_header            Host $host;
            proxy_set_header            X-Real-IP $remote_addr;
            proxy_set_header            X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header            X-Forwarded-Proto https;
            proxy_set_header            X-Forwarded-Port $server_port;
        }

        location = /favicon.ico {
            log_not_found off;
            access_log off;
            expires 7d;
        }

        location ~ /\.ht {
			deny all;
		}

    }
}
