x-config: &config
  restart: unless-stopped
  security_opt:
    - no-new-privileges:true
  cap_drop:
    - NET_RAW
    - MKNOD
    - AUDIT_WRITE
    - SYS_CHROOT
    - SETPCAP
    - FSETID
  stdin_open: true
  tty: true

name: "{{ wordpress_project_name }}"

services:
  mariadb:
    <<: *config
    image: namichel/mariadb:12.2.2-amd64
    container_name: {{ wordpress_db_container_name }}
    cap_add:
      - IPC_LOCK
    environment:
      MYSQL_DATABASE: "{{ wordpress_db_name }}"
      MYSQL_USER: "{{ wordpress_db_user }}"
      MYSQL_ROOT_PASSWORD_FILE: /run/secrets/db_root_password
      MYSQL_PASSWORD_FILE: /run/secrets/db_password
    secrets:
      - db_password
      - db_root_password
    volumes:
      - db_data:{{ wordpress_db_dir_path_dest | string | replace('"', '') | replace("'", "") }}:rw
      - "{{ wordpress_db_conf_path_host }}:{{ wordpress_db_conf_path_dest }}:ro"
      - "{{ wordpress_db_sql_template_path_host }}:{{ wordpress_db_sql_template_path_dest }}:ro"
    command: ["--defaults-file={{ wordpress_db_conf_path_dest }}"]
    deploy:
      resources:
        limits:
          memory: "{{ wordpress_db_mem_limit }}"
        reservations:
          memory: "{{ wordpress_db_mem_res_limit }}"
    healthcheck:
      test:
        - "CMD"
        - "sh"
        - "-c"
        - "mariadb --host=localhost --user={{ wordpress_db_user }} --password=$(cat /run/secrets/db_password) -e 'SELECT 1;' 2>/dev/null"
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    networks:
      - cloudone-back

  wordpress:
    <<: *config
    image: frape/wordpress:latest-amd64
    container_name: {{ wordpress_wp_container_name }}
    environment:
      WORDPRESS_DB_HOST: mariadb
      WORDPRESS_DB_USER: "{{ wordpress_db_user }}"
      WORDPRESS_DB_NAME: "{{ wordpress_db_name }}"
      WORDPRESS_DB_PASSWORD_FILE: /run/secrets/db_password
      WORDPRESS_HOME: https://youpi-cloud.duckdns.org
      WORDPRESS_SITEURL: https://youpi-cloud.duckdns.org
    secrets:
      - source: db_password
        target: db_password
      - source: wp_admin_password
        target: wp_admin_password
    volumes:
      - wordpress_data:{{ wordpress_wp_dir_path_dest }}:rw
      - "{{ wordpress_compose_src }}/wordpress/wp-content/mu-plugins:{{ wordpress_wp_dir_path_dest }}/wp-content/mu-plugins:ro"
      - "{{ wordpress_compose_src }}/wordpress/assets:/tmp/wp-assets:ro"
      - "{{ wordpress_compose_src }}/wordpress/wp-config.php:/var/www/html/wp-config.php:rw"
    deploy:
      resources:
        limits:
          memory: "{{ wordpress_wp_mem_limit }}"
        reservations:
          memory: "{{ wordpress_wp_mem_res_limit }}"
    depends_on:
      mariadb:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "healthcheck-fcgi", "--addr=127.0.0.1:9000"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    networks:
      - cloudone-front
      - cloudone-back

  angie:
    <<: *config
    image: namichel/angie:1.11.6-amd64
    container_name: {{ wordpress_angie_container_name }}
    ports:
      - "{{ wordpress_expose_http | default('80') | int }}:80"
      - "{{ wordpress_expose_https | default('443') | int }}:443"
    volumes:
      - wordpress_data:{{ wordpress_angie_wp_root }}:rw
      - "{{ wordpress_angie_conf_path_host }}:{{ wordpress_angie_conf_path_dest }}:ro"
      - "{{ wordpress_cert_dir }}:/etc/angie/certs:ro"
    depends_on:
      wordpress:
        condition: service_healthy
      phpmyadmin:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "healthcheck-http", "--url=http://localhost:80/status/"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    deploy:
      resources:
        limits:
          memory: 256m
        reservations:
          memory: 64m
    networks:
      - cloudone-front
      - monitoring

  phpmyadmin:
    <<: *config
    image: namichel/phpmyadmin:5.2.2-amd64
    container_name: phpmyadmin
    environment:
      PMA_HOST: mariadb
    depends_on:
      mariadb:
        condition: service_healthy
    deploy:
      resources:
        limits:
          memory: 128m
        reservations:
          memory: 64m
    healthcheck:
      test: ["CMD", "healthcheck-http", "--url=http://localhost/"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - cloudone-front
      - cloudone-back

  {# grafana:
    <<: *config
    image: grafana/grafana:13.0.1
    container_name: grafana
    volumes:
      - grafana_data:/var/lib/grafana
    ports:
      - "3000:3000"
    profiles:
      - monitoring
    depends_on:
      - prometheus
      # prometheus:
        # condition: service_healthy
    deploy:
      resources:
        limits:
          memory: 512m
        reservations:
          memory: 256m
    networks:
      - monitoring

  prometheus:
    <<: *config
    image: prom/prometheus:v3.11.3
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus_data:/prometheus
    ports:
      - "9090:9090"
    profiles:
      - monitoring
    healthcheck:
      test: ["CMD-SHELL", "wget -q --spider http://localhost:9090/-/healthy || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
    depends_on:
      - angie
      # angie:
        # condition: service_healthy
    deploy:
      resources:
        limits:
          memory: 512m
        reservations:
          memory: 256m
    networks:
      - monitoring #}


networks:
  cloudone-front:
    driver: bridge
  cloudone-back:
    driver: bridge
  monitoring:
    driver: bridge

volumes:
  db_data:
  wordpress_data:
  prometheus_data:
  grafana_data:

secrets:
  db_password:
    file: ./secrets/db_password
  db_root_password:
    file: ./secrets/db_root_password
  wp_admin_password:
    file: ./secrets/wp_admin_password