.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars
*.rsa
*.rsa*


.ansible
*.ini
**/.vault_pass*
ansible/roles/wordpress/angie
ansible/roles/wordpress/mariadb
ansible/roles/wordpress/wordpress
ansible/roles/wordpress/docker-compose.yml

results_junitxml.xml

**/.env
**/.key
**/.csr
**/.secrets
