.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars
*.rsa
*.rsa*

.ansible
*.ini

**/.env

.gitignore

.vault_pass_cloudone
compose/results.json
compose/trivy
melange/angie/angie.tar
healthcheck
healthcheck-mysql
healthcheck-http
*.exe

packages/
