*.tar
pipelines/
packages/
.env
.vault_pass*
*.rsa
terraform/.terraform/
terraform/terraform.tfstate*
terraform/terraform.tfvars
.terraform/
melange/healthcheck-http/healthcheck
melange/healthcheck-sql/healthcheck-mysql
melange/healthcheck-fcgi/healthcheck-fcgi
melange/*/melange.rsa*
.ansible
*.ini
**/.vault_pass*
ansible/roles/wordpress/angie
ansible/roles/wordpress/mariadb
ansible/roles/wordpress/wordpress
ansible/roles/wordpress/docker-compose.yml
results_junitxml.xml
**/.env
**/.key
**/.csr
**/.secrets
melange/melange.rsa.pub
compose/secrets/
