[defaults]
vault_identity_list = cloudone@.vault_pass_cloudone
roles_path = ansible/roles
inventory = ansible/inventory/inventory-local.ini
host_key_checking = False
interpreter_python = /usr/bin/python3

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
