events {}

http {
    resolver 8.8.8.8 ipv6=off;

    acme_client letsencrypt https://acme-v02.api.letsencrypt.org/directory;
    acme_client internal https://step-ca:9000/acme/acme/directory;

    include /etc/angie/mime.types;
    default_type application/octet-stream;

    map $upstream_addr $backend_ssl_name {
        {% for backend_ip in angie_lb_backends %}
        ~{{ backend_ip }} {{ groups['backends'][loop.index0] }}.internal;
        {% endfor %}
        default wordpress_backends;
    }

    upstream wordpress_backends {
        sticky cookie srv_id expires=1h;
        {% for backend_ip in angie_lb_backends %}
        server {{ backend_ip }}:{{ angie_lb_backend_port }};
        {% endfor %}
    }

    server {
        listen unix:/tmp/acme_internal.sock;
        server_name lb.internal;
        acme internal;
    }

    server {
        listen 80;
        server_name {{ angie_lb_domain }};

        location / {
            return 301 https://$host$request_uri;
        }
    }

    server {
        listen 443 ssl;
        server_name {{ angie_lb_domain }};

        acme letsencrypt;
        ssl_certificate $acme_cert_letsencrypt;
        ssl_certificate_key $acme_cert_key_letsencrypt;
        ssl_protocols TLSv1.2 TLSv1.3;
        ssl_ciphers HIGH:!aNULL:!MD5;

        location @acme {
            proxy_pass https://step-ca:9000;
            proxy_ssl_trusted_certificate /home/step/certs/root_ca.crt;
            proxy_ssl_verify on;
        }

        location /phpmyadmin/ {
            proxy_pass https://wordpress_backends/phpmyadmin/;
            proxy_ssl_certificate         $acme_cert_internal;
            proxy_ssl_certificate_key     $acme_cert_key_internal;
            proxy_ssl_trusted_certificate /home/step/certs/root_ca.crt;
            proxy_ssl_verify              on;
            proxy_ssl_verify_depth        2;
            proxy_ssl_name                $backend_ssl_name;
            proxy_ssl_server_name         on;
            proxy_set_header Host              $host;
            proxy_set_header X-Real-IP         $remote_addr;
            proxy_set_header X-Forwarded-For   $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto https;
        }

        location / {
            proxy_pass https://wordpress_backends;
            proxy_ssl_certificate         $acme_cert_internal;
            proxy_ssl_certificate_key     $acme_cert_key_internal;
            proxy_ssl_trusted_certificate /home/step/certs/root_ca.crt;
            proxy_ssl_verify              on;
            proxy_ssl_verify_depth        2;
            proxy_ssl_name                $backend_ssl_name;
            proxy_ssl_server_name         on;
            proxy_set_header Host              $host;
            proxy_set_header X-Real-IP         $remote_addr;
            proxy_set_header X-Forwarded-For   $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto https;
            proxy_buffers 16 16k;
            proxy_buffer_size 32k;
        }
    }
}
