<?php
/**
 * Plugin Name: Site title overload
 * Description: Dynamic alignment with instance name
 */

add_filter('option_blogname', function($value) {
    return "{{ inventory_hostname }}";
});

add_filter('bloginfo', function($output, $show) {
    if ($show === 'name') {
        return "{{ inventory_hostname }}";
    }
    return $output;
}, 10, 2);